@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans TC", 微軟正黑體;
}

.d-flex {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

header {
  width: 100%;
  height: 70px;
  background-color: #23301f;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

header .container {
  width: 100%;
  height: 100%;
}

header .logo {
  width: 150px;
  height: 50px;
  background-color: #fff;
}

nav {
  width: 350px;
  height: 100%;
  margin-right: 60px;
}

nav a {
  color: #fff;
}

.search {
  width: 250px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #fff;
}

.search input {
  width: calc(100% - 40px);
  height: 100%;
  border: 0;
  outline: none;
  padding: 15px;
}

.search button {
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 100%;
}

.search button img {
  width: 20px;
  vertical-align: middle;
}

#menu-icon {
  width: 21px;
  height: 16px;
  position: relative;
  transition: 0.3s;
  display: none;
}

#menu-icon .bar {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

#menu-icon .top-bar {
  top: 0;
}

#menu-icon .middle-bar {
  top: 50%;
  transform: translateY(-50%);
}

#menu-icon .bottom-bar {
  bottom: 0;
}

#menu-icon.active .top-bar {
  transform: rotate(45deg);
  top: 10px;
}

#menu-icon.active .middle-bar {
  opacity: 0;
}

#menu-icon.active .bottom-bar {
  transform: rotate(-45deg);
  top: 10px;
}

#slider {
  margin-top: 70px;
}

#slider .carousel-item {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#slider .carousel-control-prev {
  opacity: 1;
}

#slider .carousel-control-next {
  opacity: 1;
  transform: scaleX(-1);
}

#slider .carousel-control-prev-icon {
  background-image: url(../img/arrow.png);
  background-size: auto 100%;
}

#slider .carousel-control-next-icon {
  background-image: url(../img/arrow.png);
  background-size: auto 100%;
}

.content {
  padding: 100px 0 150px;
  background-image: url(../img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .content-box {
  height: 100%;
}

.anno-box,
.link {
  background-color: #fff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 40px 40px 0;
  height: 100%;
}

h3.title {
  font-weight: 700;
  font-size: 30px;
  color: #23301f;
  text-align: center;
  margin-bottom: 30px;
}

.announce {
  padding: 25px 0;
  border-bottom: 1px solid #cdcdcd;
}

.announce:last-child {
  border: 0;
}

.announce a .date {
  width: 20%;
  font-size: 16px;
}

.announce a .a-title {
  width: 70%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: auto;
  overflow: hidden;
}

.announce a .see {
  width: 10%;
  line-height: 1;
}

.announce a .see img {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.announce a .see span {
  color: #bbb;
  vertical-align: middle;
}

.anno-box button {
  margin: 30px auto 0;
  padding: 10px 50px;
  border: 0;
  border-radius: 100px;
  background-color: #23301f;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.anno-box button a {
  color: #fff;
}

.anno-box button:hover {
  transform: translateY(-5px);
}

.link a {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
}

.link a:hover {
  color: #23301f;
}

footer {
  padding: 40px;
  background-color: #879473;
}

@media screen and (max-width: 992px) {
    .right-box {
        /* height: 100%;s */
    }
    .menu-box {
        display: flex;
        align-items: center;
        /* height: 100%; */
    }
    nav {
        width: 70%;
    }
    nav ul {
        margin: 0;
    }
    .search {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }
  header .logo {
    height: 40px;
  }
  .menu-box {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;
    right: -100%;
    background-color: #23301f;
    transition: 0.3s;
  }

  nav {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    display: block;
    padding: 10px 0;
  }

  .search {
    margin: 30px 10% 0;
    width: 80%;
  }

  #menu-icon {
    display: block;
  }

  #slider {
    margin-top: 60px;
  }

  #slider .carousel-item {
    padding-bottom: 100%;
  }

  .announce a .date {
    width: 50%;
  }

  .announce a .a-title {
    order: 3;
    width: 100%;
    margin-top: 10px;
    padding-right: 0;
  }

  .announce a .see {
    order: 2;
    width: 50%;
    text-align: right;
  }

  .content .container > div > div:first-child {
    margin-bottom: 150px;
  }
}
